<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.curso}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borra </th>
      <td mat-cell *matCellDef="let j = index;">
        <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
          X
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

<div class="contenedor">
    <mat-form-field>
      <input matInput [(ngModel)]="alumnoSelect.nombre" type="text" placeholder="Ingrese nombre">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="alumnoSelect.curso" type="text" placeholder="Ingrese curso">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="alumnoSelect.email" type="email" placeholder="Ingrese email">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  </div>